<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>role/move_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,58},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,0},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,185},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>role/move_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,183},{54,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,58}</string>
			</dict>
			<key>role/move_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,65},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>role/move_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,115},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,172},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,57},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,124},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>role/move_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,114},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,171},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,57},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{54,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,58}</string>
			</dict>
			<key>role/move_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,0},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/move_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,114},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/stop_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,0},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>role/stop_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,171},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/stop_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,57},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>role/stop_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,114},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>role/wrapped_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>role/wrapped_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,195},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>role/wrapped_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,65},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>role/wrapped_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,125},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>role/wrapped_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>role/wrapped_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>role/wrapped_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>role/wrapped_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cappi.png</string>
			<key>realTextureFileName</key>
			<string>cappi.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>