<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SlowTurtle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,406},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,326},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,82},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,246},{46,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,166},{46,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,414},{46,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,334},{46,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,82},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,246},{46,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,414},{46,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>SlowTurtle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,406},{44,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,78}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,363},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,408},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,360},{42,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>move_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,244},{42,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,350},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,425},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,234},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,301},{42,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>move_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,292},{42,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,425},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,176},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,185},{42,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,60},{44,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,118},{44,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>move_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,60},{44,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>owl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,84},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{42,80}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{42,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{42,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{42,82}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{42,80}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{42,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{42,82}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{42,80}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{42,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{42,80}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{42,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>owl_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{44,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,80}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,494},{32,16}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{32,16}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>stop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>stop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,126},{42,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>stop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,423},{42,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>stop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,419},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>wrapped_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,363},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>wrapped_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,301},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,162},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>wrapped_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,234},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>wrapped_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,466},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{42,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,466},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{42,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bazzi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c2b16a47db3297f9d8657212f7d4b3$</string>
            <key>textureFileName</key>
            <string>bazzi.png</string>
        </dict>
    </dict>
</plist>
