<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Role/move_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,731},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/move_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/move_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,905},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,963},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,495},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/move_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,377},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,317},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,137},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/move_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,195},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,253},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,0},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/move_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,58},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/stop_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,435},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>Role/stop_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/stop_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>Role/stop_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,493},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,56}</string>
			</dict>
			<key>Role/wrapped_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,317},{58,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,60}</string>
			</dict>
			<key>Role/wrapped_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,137},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Role/wrapped_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Role/wrapped_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Role/wrapped_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{65,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,72}</string>
			</dict>
			<key>Role/wrapped_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{128,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>