<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cappi_SlowTurtle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,83},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,77}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>cappi_SlowTurtle_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{51,79}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>cappi_SlowTurtle_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{51,79}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>cappi_SlowTurtle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{53,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,73}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>cappi_owl_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{53,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>cappi_owl_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{45,79}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>cappi_owl_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,83},{45,79}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>cappi_owl_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,164},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{53,77}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>cappi_stop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>cappi_stop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,77},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>cappi_stop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,162},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>cappi_stop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cappiDirect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9228e6d59bd96ddc8330556fd2bbfd$</string>
            <key>textureFileName</key>
            <string>cappiDirect.png</string>
        </dict>
    </dict>
</plist>
