<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SlowTurtle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,77},{53,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,73}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{53,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,73}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,243},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,77}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,164},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,77}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{51,79}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{51,79}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{51,79}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{51,79}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,243},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,77}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{51,79}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{51,79}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{51,79}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>SlowTurtle_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,77},{53,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{53,73}}</string>
                <key>sourceSize</key>
                <string>{71,117}</string>
            </dict>
            <key>move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,56},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,440},{48,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,50},{52,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>move_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{48,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,322},{50,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,57}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>move_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,276},{44,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{46,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,446},{50,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,57}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>move_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,276},{44,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,440},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,381},{46,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,50},{52,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{48,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>move_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>move_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,381},{48,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>owl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,405},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{53,77}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,326},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{53,77}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{53,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{53,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{53,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,245},{45,79}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,83},{45,79}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{45,79}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,164},{45,79}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{53,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{53,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,245},{45,79}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{45,79}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{45,79}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>owl_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,405},{53,77}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{53,77}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>stop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,456},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>stop_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>stop_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,440},{46,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>stop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,456},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>wrapped_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,384},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,322},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,214},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,152},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>wrapped_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,389},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>wrapped_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,322},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>wrapped_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,104},{51,37}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{51,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>wrapped_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,104},{43,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{43,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cappi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33aa3023c754124ba6e008eefb9ac57a$</string>
            <key>textureFileName</key>
            <string>cappi.png</string>
        </dict>
    </dict>
</plist>
