<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,32}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{44,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,36},{32,16}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{32,16}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9898a9b49df041457a0bdd193229f5a4$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
